<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Burger.css') }}">
    <script>
        function Show_Burgers(){
            const parameter = new URLSearchParams(window.location.search);
            const burger = parameter.get("burger");
            let picSrc;
            let name_of_burger
            if (burger === "flygande_faran"){
                picSrc = "{{ url_for('static', filename='Pictures/Flygande_faran.png') }}";
                name_of_burger = "Flygande Faran"
            } else if (burger === "ghasten") {
                picSrc = "{{ url_for('static', filename='Pictures/Ghasten.png') }}";
                name_of_burger = "Ghasten"
            } else if (burger === "galna_burgan") {
                picSrc = "{{ url_for('static', filename='Pictures/Galna_burgaren.png') }}";
                name_of_burger = "Galna Burgan"
            } else {
                picSrc = "{{ url_for('static', filename='Pictures/no_image.png') }}";
                name_of_burger = "No burger chosen"
            }
            document.getElementById("burgerpic").src = picSrc;
            document.getElementById("Name_Of_Burger").textContent = name_of_burger
        }

        window.onload = Show_Burgers;

        function ingredients_onchange(event, name){
            var value = event.target.value
            console.log(name, value)
            document.cookie = `${name}=${value}`;
        }
    </script>
</head>
<body>
    
    <header>
        <nav>
            <a href="StartMenu.html">Våra burgare</a>
        </nav>
        <h1>Felix Fasande Hamburgare</h1>
        <nav>
            <a href="#">Rabatter</a>
        </nav>
    </header>

    <div class="burger_redbox2"> 
        <div class="holding_picture">
            <div class="burger_orderpicture">
                <img id="burgerpic" src="{{ url_for('static', filename='Pictures/no_image.png') }}" alt="Vald hamburgare" width="300">
                <h2 id = "Name_Of_Burger">No burger chosen</h2>
            </div>
        </div>
        
        <div class="forum">
            <div class="ordermeny">
                <div class="buttons"> 
                    <h3>Tillbehör</h3>
                    <form action="#" method="POST">
                        <label for="quantity">Pickles:</label>
                        <input onchange="ingredients_onchange(event, 'pickles')" type="number" id="pickles" name="pickles" min="0" max="5" value="{{ pickles }}">
                        <label for="quantity">Cheese:</label>
                        <input onchange="ingredients_onchange(event, 'cheese')" type="number" id="cheese" name="cheese" min="0" max="5" value="{{ cheese }}">
                        <label for="quantity">patty:</label>
                        <input onchange="ingredients_onchange(event, 'patty')" type="number" id="patty" name="patty" min="0" max="5" value="{{ patty }}">
                        <label for="quantity">Onion:</label>
                        <input onchange="ingredients_onchange(event, 'onion')" type="number" id="onion" name="onion" min="0" max="5" value="{{ onion }}">
                        <label for="quantity">Dressing:</label>
                        <input onchange="ingredients_onchange(event, 'dressing')" type="number" id="dressing" name="dressing" min="0" max="5" value="{{ dressing }}">
                        <input type="submit" value="Submit">
                      </form>
                </div>
                
            </div>
        </div>
        
    </div>

    <footer></footer>
</body>
</html>
