* {

    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: relative;
}


header h1 {
    margin: 0;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.left-nav {
    margin-right: auto;
}

.right-nav {
    margin-left: auto;
}


nav a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    padding: 8px;
    transition: background-color 0.3s ease; 
}


nav a:hover {
    background-color: yellow; 
}






.burger_redbox, .burger_orderbox {
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: red;
    max-width: 100%;
}

.burger_redbox {
    min-height: 25rem;
}

.burger_orderbox{
    min-height: 25rem;
}


.holding_picture {
display: flex;
align-items: center;
justify-content: center;
   min-width: 50%;
   max-height: 100%;
   
}

.picture, .burger_orderpicture  {

    height: 15rem;
    width: 15rem;
    display: flex;
    object-fit: cover;
}

.text {
    min-width: 50%;
    max-height: 100%;
    display: flex;
    align-items: center;
    font-size: xx-large;
}

.heading {
    text-align: center;
    max-width: 100%;
    padding: 2rem;
    color: red;
}

.burger_cards {
    display: flex;
    justify-content: space-evenly;
    min-height: 17rem;
    max-width: 100%;
    color: red;
    
}

.card {
    display: flex;
    flex-direction: column;
    height: 25rem;
    max-width: 15rem;
    padding: 2rem;
    
    
}

.card img {
    width: 100%;
    height: 50%;
   object-fit: contain;
   background-color: antiquewhite;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
    
}

.contain_text {
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

.contain_text:hover {
    color: black;
text-decoration: underline;
    background-color: antiquewhite;
    cursor: pointer;

}

.link {
    text-decoration: none;
    color: red;
}

.forum {
    display: flex;
   align-items: center;
   justify-content: center;
   max-width: 50%;
   max-height: 50%;
}


footer {
    background-color: green;
    height: 10rem;
    width: 100%;
    
}