<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='Burger.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
</head>
<body>

<header>
    <nav>
        <a href="MenuStore.html">Våra burgare</a>
    </nav>
    <h1>Felix Fasande Hamburgare</h1>
    <nav>
        <a href="#">Rabatter</a>
    </nav>
</header>

<div class="burger_redbox">
    <h2>Tack för din beställning, följande har du beställt:</h2>
    <div class="box" id="imageBox">
        <p>Image will be displayed here later.</p>
    </div>
    
    <div class="box" id="textBox">
        <p>Text will be displayed here later.</p>
    </div>
</div>

<footer>
    <p>&copy; Felix Fasande Hamburgare</p>
</footer>

</body>
</html>
